.App {
  /* background-image: url(./Assets/bg-img\ \(2\).jpg); */
  background-size: cover;
  background-position: center;
  text-align: center;
}
video {  
  width: 100vw;
  height: 100vh;
  overflow: auto;
  object-fit: cover;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  filter: brightness(30%);
}